@charset "UTF-8";

/* Todas as media mídias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: Até 600px
Celular: de 601px até 768px
Tablet: 769px até 922px
Desktop: 993px até 1200px
Grandes telas: acima de 1201px
*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

}

@media screen and (min-width: 768px) and (max-width: 922px) {/*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 923px) and (max-width: 1200px) {/*DDESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
    }

@media screen and (min-width: 1200px) {/*GRANDES TELAS*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}

}